.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.search-input {
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.search-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #e50914;
  color: white;
}