.search-container {
  padding: 20px 40px;
}

.search-input {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  border-radius: 8px;
  border: none;
}
.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #1f80e0;
}