.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:20px 50px;

    background-color: #0f1014;
    color:white;
}

.logo{
    margin:0;
}

.nav-links{
    display:flex;
    list-style: none;
    gap:25px;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #e50914;
}